<table style="width:100%">
	<tr>
		<td>Token</td>
		<td>Customer Id</td>
		<td>Payment Instrument Type</td>
	</tr>
<% @details.each do |detail| %>
  <tr>
    <td><%= detail.payment_token %></td>
    <td><%= detail.customer_id %></td>
    <td><%= detail.payment_instrument_type %></td>
    <td><%= detail.first_name %></td>
    <td><%= detail.last_name %></td>
  </tr>  
<% end %>